/* Manager.css */
.manager-container {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: -webkit-linear-gradient(#EC9F05, #FF4E00);
  text-align: right;
  align-items: right;
  justify-content: right;
  /* Fallback for older browsers */
  background: linear-gradient(#EC9F05, #FF4E00);
  min-height: 100vh;
}


.manager-container h1 {
  /* make the title appear on the center of screen */
  margin: 0 auto;
  width: fit-content;
  padding: 20px;
  border-bottom: 1px solid #ccc;
  -webkit-text-fill-color: #fdfdfd;

}

.logout-button {
  font-family: Roboto, sans-serif;
  font-weight: 0;
  font-size: 14px;
  color: #000000;
  background-color: #ffffff00;
  padding: 10px 30px;
  border: solid #ff4e00 2px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  border-radius: 50px;
  transition: 965ms;
  transform: translateY(0);
  flex-direction: row;
  cursor: pointer;
  margin-right: 20px;
}

.logout-button:hover {
  transform: scale(1.2);
  transition: 965ms;
  background-color: #fff;
  color: #edb69f;
  border: solid 2px #edb69f;
}

.project-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  /* Adjust the gap between projects */
  margin: 20px;

}